.accordion {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.card {
  background-color: #e5f3ff;
  border: none;
  margin-top: 25px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  flex: 0.6;
}

.Name {
  font-size: 1.6rem;
  font-weight: 600;
}

.Accheader {
  background-color: #e5f3ff;
}

.Acccolapse {
  border: none;
}

.imgContainer {
  flex: 0.3;
  background-color: #e5f3ff;
  width: 20%;
  margin-right:25%;
  padding-right: 20px;
}

.imgContainer img {
  max-width: 100%;
  border-radius: 50%;
  max-width: 116px;
}

.collapseContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.linkedinContainer {
  display: flex;
}

.location {
  padding-left: 20px;
  padding-right: 3px;
}

.locationContainer {
  display: flex;
}

.linkedinSVG {
  margin-left: 50px;
  padding: 20px;
}

.linkedinURL {
  font-size: 0.8rem;
  font-weight: 700;
  padding-right: 20px;
}

.specialities {
  font-size: 1.1rem;
  font-weight: 500;
  margin-right:15%
}
